*{
    margin: 0;
    padding: 0;
}
.box{
    padding: 20px;
    height: 500px;
    margin: 0 auto;
    font-family: "微软雅黑";
    background: url("./img/aa.jpg") center;
    background-size: cover;
}
.content{
    display: flex;
}
.right{
    flex:1;
    padding-left: 20px;
}
.all{
    text-align: center;
    background: #eee;
    line-height: 30px;
}
.router{
    width:600px;
}

